numpy==1.26.4
scipy==1.13.0
fiona==1.9.6
shapely==2.0.4
pyproj==3.6.1
geopandas==0.14.3
pyarrow==16.1.0
scikit-learn==1.4.1.post1
pandas==2.2.2
tqdm==4.66.2             
pyyaml==6.0.1            
tensorboard==2.16.2      
h5py==3.11.0             
matplotlib==3.8.4
seaborn==0.13.2
timm==1.0.26
scikit-image==0.24.0
segmentation_models_pytorch==0.5.0
triangle==20250106